// Texts
// Typografy
$title-font: 'PT Serif', serif;
$body-font: 'Poppins', sans-serif;

// Font Weights
$font-regular: 400;
$font-bold: 700;
$font-black: 900;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-md: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 3.25rem; // 52px

// Colors
$white: #faf4f4;
$black: #201f1f;
$yellow: #fece52;
$red-light: #fe4c70;
$blue: #1b066e;
$blue-light: #10a8f7;
$bg-gradient: linear-gradient(#10b1ff, #1c036b);
